@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Добро пожаловать на домашнюю страницу</h1>
    <ul>
        <li><a href="@Url.Action("Index", "Candidat")">Candidates</a></li>
        <li><a href="@Url.Action("Index", "Department")">Departments</a></li>
        <li><a href="@Url.Action("Index", "HR")">HR</a></li>
        <li><a href="@Url.Action("Index", "Vacantion")">Vacantion</a></li>
        <li><a href="@Url.Action("MoveToNextStage", "Recrut")"></a>Recuruting page</li>
        
    </ul>
</body>
</html>
